{{ 'section-content-cards.min.css' | asset_url | stylesheet_tag }}

<div class="page-width content-cards">
    {%- if section.settings.title != blank -%}
        <h2 class="content-cards__title heading-{{ section.settings.title_size }} text-{{ section.settings.title_align }}">
            {{ section.settings.title | escape }}
        </h2>
    {%- endif -%}
    <div class="content-cards__list">
        {%- for block in section.blocks -%}
            {%- assign card = block.settings -%}
            {%- if card.image != blank -%}
                <div class="content-cards__item" style="background-color: {{ card.bg_color }}">
                    <img
                            src="{{ card.image | image_url: width: 375 }}"
                            loading="lazy"
                            class="content-cards__item-image"
                            alt="{{ card.image.alt | escape }}"
                    >
                    {%- if card.title != blank -%}
                        <div class="content-cards__item-title">
                            {{ card.title }}
                        </div>
                    {%- endif -%}
                    {%- if card.text != blank -%}
                        <div class="content-cards__item-text">
                            {{ card.text }}
                        </div>
                    {%- endif -%}
                    {%- if card.btn_link != blank and card.btn_text != blank -%}
                        <div class="content-cards__item-link">
                            <a href="{{ card.btn_link }}">
                                {{ card.btn_text }}
                            </a>
                        </div>
                    {%- endif -%}
                </div>
            {%- endif -%}
        {%- endfor -%}
    </div>
</div>


{% schema %}
{
  "name": "t:sections.content-cards.name",
  "tag": "section",
  "class": "section content-cards",
  "max_blocks": 4,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.content-cards.settings.title.label"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "t:sections.content-cards.settings.title_size.label",
      "options": [
        {
          "value": "sm",
          "label": "t:sections.content-cards.settings.title_size.options__1"
        },
        {
          "value": "md",
          "label": "t:sections.content-cards.settings.title_size.options__2"
        },
        {
          "value": "lg",
          "label": "t:sections.content-cards.settings.title_size.options__3"
        }
      ],
      "default": "lg"
    },
    {
      "type": "select",
      "id": "title_align",
      "label": "t:sections.content-cards.settings.title_align.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.content-cards.settings.title_align.options__1"
        },
        {
          "value": "center",
          "label": "t:sections.content-cards.settings.title_align.options__2"
        },
        {
          "value": "right",
          "label": "t:sections.content-cards.settings.title_align.options__3"
        }
      ],
      "default": "center"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "t:sections.content-cards.blocks.card.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.content-cards.blocks.card.settings.title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "info": "t:sections.content-cards.blocks.card.settings.image.info",
          "label": "t:sections.content-cards.blocks.card.settings.image.label"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "t:sections.content-cards.blocks.card.settings.color",
          "default": "#00966E"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.content-cards.blocks.card.settings.text"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "t:sections.content-cards.blocks.card.settings.btn_text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "t:sections.content-cards.blocks.card.settings.btn_link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.content-cards.presets.name"
    }
  ]
}
{% endschema %}
